@mixin large-text {
  font-size: 22px;
  font-weight: bold;
  font-family: sans-serif;
  color: orange;
}


h1 {
  @include large-text
}

// compile to ->
// h1 {
//   font-size: 22px;
//   font-weight: bold;
//   font-family: sans-serif;
//   color: orange;
// }


@mixin dash-line($width, $color) {
  border: $width dashed $color;
}

.box1 { @include dash-line(1px, red); }
.box2 { @include dash-line(4px, blue); }

// compile to -> 
// .box1 {
//   border: 1px dashed red;
// }
// .box2 {
//   border: 4px dashed blue;
// }
